:host {

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --cyan-500: #c1e8e7;

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.rtp {
  &__header {
    display: flex;
    align-items: center;
    height: 97px;
    background-color: var(--cyan-500);
  }

  &__header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    flex: 1 0 auto;
  }

  &__header-image {
    max-width: 2000px;
    background-image: url("/assets/images/banner.png");
    flex-grow: 5;
    height: 100%;
  }
}
