.home {
  display: flex;

  &__card-list {
    flex: 1 1 30%;
    height: calc(100vh - 97px - 2rem);
    margin: 1rem;
    overflow-y: auto;
  }

  &__map {
    flex: 1 1 70%;
    margin: 1rem;
  }
}
